<div class="row">
    <div class="col-md-6">
        <div class="well" ng-controller="video">
            <div ng-bind-html="vimeoUrl | trustAsHtml"></div>
            <div ng-bind-html="youtubeUrl | trustAsHtml"></div>
            <div ng-bind-html="dailymotionUrl | trustAsHtml"></div>    
          
            <!-- <iframe src="//player.vimeo.com/video/19339941" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
           <!--  <video id="my-dynamic" class="video-js vjs-default-skin  vjs-big-play-centered" controls="true" mute="true" width="640" height="264"
                preload="auto" poster="//vjs.zencdn.net/v/oceans.png"
                data-setup='{
                  "techOrder": ["html5","flash","youtube"],
                  "controlBar": {
                    
                              "playToggle": true, 
                              "volumeMenuButton":{
                                "inline":false,
                                "vertical":true
                              },
                              "currentTimeDisplay": true,
                              "timeDivider": false,
                              "durationDisplay": false,
                              "progressControl": {
                                "seekBar": {
                                  "loadProgressBar": true,
                                  "mouseTimeDisplay": true,
                                  "playProgressBar": true
                                }
                              },
                              "liveDisplay": false,
                              "remainingTimeDisplay": true,
                              "customControlSpacer": false,
                              "playbackRateMenuButton": true,
                              "chaptersButton": true,
                              "subtitlesButton": false,
                              "captionsButton": true,
                              "fullscreenToggle": true
                            }
              }'>
            <source ng-src="http://www.youtube.com/embed/xjS6SftYQaQ" type="video/youtube"></source>
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">
		      supports HTML5 video
		    </a>
                </p>
            </video> -->
        </div>
    </div>
</div>

